<IfModule mod_rewrite.c>
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule> 

#enable some enhancements on php.ini
php_value max_execution_time 3600
php_value max_input_time 3600
php_value default_socket_timeout 1200
php_value memory_limit 1024M